.header {
    padding-top: 8%;
    background-color: crimson;
    margin: none;
}

.blogList {
    margin-top: 10px;
    margin-right: 10em;
    margin-left: 10em;
    display: flex;
    height: 400px;
    align-content: space-between;
    flex-direction: column;

}

.posts {
    width: 50em;
}

.commentClass,
.commentHeader {
    margin-left: 60em;
    margin-right: 10em;
    width: 15em;
    position: relative;
    bottom: 40em;
}

.commentClass{
    background-color: lightskyblue
}

.selectedBlog {
    margin-right: 10em;
    margin-left: 10em;
}


.material-icons {
    font-size: 36px;
    display: inline-flex;
    vertical-align: middle;
}

/* .selectedBlog {
    float: left;
    width: 50%;


} */

body {
    font-family: Georgia, serif;
}



.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}