html{
   background-color:darkkhaki;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header{
    color:white;
    text-align: center;
    font-style:oblique;
    font-weight: bold;
    border: 6px groove black;
    border-radius: 12px;
    margin: 2em; 
}

a{
    color: white;
    text-decoration: none;
    
}

a:visited{
    color:darkred;
}

a:hover{
    color:black;
}


